/target
*.prefs
*.class
*.jsdtscope
*.launch
target
./settings
./.project

.settings
.project
.settings
.project
.settings
.classpath
.project
.classpath
.project
.settings
.settings
.classpath
/.idea
/*.iml

